h1{
    text-align:center;
    
  }
  p{
    text-align:center;
  }
  ul {
    list-style-type: none;
    margin: 20px;
    padding: 0;
  }
  
  li {
    float: right;
     padding: 8px;
  }
  .image{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
    
  }
  h3{
    text-align:center;
  }
  .video{
     display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    height:20%;
  }
  nav {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
  }
  @media only screen and (max-width: 600px) {
    body {
      background-color: lightblue;
    }
  }
  .flex-container {
    display: flex;
    flex-direction: column;
  }
  
  /* Responsive layout - makes a one column layout instead of a two-column layout */
  @media (max-width: 800px) {
    .flex-container {
      flex-direction: column;
    }
  }
  